[submodule "src/renderers/opengl/extern/glow"]
	path = src/renderers/opengl/extern/glow
	url = https://www.graphics.rwth-aachen.de:9000/Glow/glow.git
[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest.git
